#pricing_plan_container {
  h2 {
    padding-bottom: 20px;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      border-radius: 0;
    }
  }
}
#plans {
  .fa-check {
    color: green;
    padding-right: 10px;
  }
  .fa-times {
    color: red;
    padding-right: 10px;
  }
}
.plan_name {
  h6 {
    color: #1ccdca;
    font-size: 20px;
    border: 1px solid lightgray;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding-bottom: 20px;
    padding-top: 65px;
    margin: 0;
  }
}
.pricing-plan-body {
  border-radius: 5px;
}
.pricing-plan-body:hover {
  .plan_name {
    background-color: #1ccdca;
    transition: background-color 0.5s ease;
    h6 {
      color: white;
      transition: color 1s ease;
    }
  }
}
.price-plan-order-btn {
  background: none;
  border: 1px solid gray;
  border-radius: 50px;
  margin: 20px 0;
  i {
    padding-right: 10px;
  }
}
.price-plan-order-btn:hover {
  background-color: red;
  color: white;
}
.price-plan-header-text{
  font-size: 15px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  p, h6 {
    color: #1ccdca;
    text-transform: uppercase;
  }
  h6 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
  }
}